body {

	background-color: #3A7C8F;
}

.main {
	height: 100%;
	width: 800px;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	background: #f4eae7;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

h1 {
	color: #111;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 64px;
	margin: 0 0 0;
	padding: 20px 30px;
	text-align: center;
	text-transform: uppercase;
}

p {
	color: #111;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 28px;
	/*margin: 0 0 48px;*/
	margin-left: 45px;
	font-weight: bold;
	margin-bottom: 0px;
}

input[type=submit] {
	width: 95%;
	background-color: #cb942e;
	color: white;
	padding: 14px 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 50px;
	margin-bottom: 25px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

ul {
	list-style-type: none;
	margin-top: -1px;
}

li {
	margin-top: 1px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 28px;
}

.alert {
	padding: 20px;
	background-color: #59d15e;
	color: #000000;
	width: 50%;
	margin: auto;
	margin-top: 25px;
	text-align: center;
	font-size: 36px;
	box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

.alert strong {
	font-size: 22px;
}

.closebtn {
	margin-left: 15px;
	color: #59d15e;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
	margin: auto;
	text-align: center;
}

#thanks {
	font-size: 24px;
}
